@media (min-width:0px) and (max-width:1310px) {
    .general3 {
        padding-left: 20px;
    }
    .general {
        padding-left: 20px;
    }
    .slides {
        width: 15vw;
        height: 15vw;
    }
    .general-text {
        font-size: 20px;
    }
    .uslugi {
        font-size: 32px;
    }
    .cards2 {
        flex-direction: column;
    }
    .controll {
        margin-top: auto;
    }
    .materials {
        margin-top: 50px;
    }
    .third {
        height: 1100px;
    }
    .fourth1 {
        flex-direction: column;
        width: auto;
    }
    .cards2Photo {
        /*width: 90vw;*/
    }
    .cards2 {
        margin-top: 80px;
    }
    .svyaz1 {
        margin-top: 30px;
    }
    .form {
        margin: auto;
        margin-top: 20px;
    }
    .big-photo {
        display: none;
    }
    .neon-photos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .neon-photos img {;
    }


}

@media (min-width:0px) and (max-width:750px) {
    .line {
        display: none;
    }
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
    .neon-photos {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: auto;
    }
    .third {
        height: 1000px;
    }
    .cards2 {
        margin-top: 20px;
    }

    .block-neon {
        height: 1750px;

    }
    .block-neon1 {
        height: 1750px;
    }
    h1 {
        font-size: 30px;
    }
    .neon-text {
        font-size: 18px;
        line-height: 20px;
    }

    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
        position: fixed;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .lolik {
        flex-direction: column;
        align-items: flex-start;
        width: 400px;
    }
    .info {
        margin: auto;
    }
    .general-text {
        width: 90vw;
        margin: auto;
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .uslugii {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .slides {
        width: 28vw;
        height: 28vw;
    }
    .slick-dotted.slick-slider {
        width: 90vw;
        padding: 5px;
    }
    .general {
        justify-content: space-around;
        flex-direction: column;
        padding-left: 0;
    }
    .general3 {
        padding-left: 0;
        height: 550px;
    }
    .bok {
       margin: auto;
        width: 90vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row;

    }
    .header3 {
        line-height: 46px;
        font-size: 30px;
        margin-top: 30px;
    }
    .text {
        margin-top: 30px;
    }
    .general1 {
        width: auto;
        font-size: 50px;
    }
    .general2 {
        display: flex;
        flex-direction: column;
    }
    .svyaz {
        margin: auto;
        margin-top: 70px;
    }
    .form1 {
        flex-direction: column;
    }
    .form_input {
        width: 90vw;
    }
    .form {
        width: 90vw;
    }

    .cards2Photo {
        width: 90vw;
    }
    .text2 {
        font-size: 20px !important;
        line-height: 20px;
        margin-top: 10px;
    }
}

@media (min-width:0px) and (max-width:500px) {
    .third {
        height: 700px;
    }
    .uslugii {
        margin-top: 10px;
    }
    .slides {
    .slides {
        width: 30vw;
        height: 30vw;
    }
    }
}
/*@media (min-width:0px) and (max-width:700px) {*/
/*    .header {*/
/*        display: none;*/
/*    }*/
/*    .header a:hover {*/
/*        background-color: #ddd;*/
/*        color: black;*/
/*    }*/
/*    .third {*/
/*        display: none;*/
/*    }*/
/*    .fourth {*/
/*        display: none;*/
/*    }*/
/*    */

/*}*/

